<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <!-- Make Index Default to index.php -->
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear />
                <rule name="Routes" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                <!-- Rewrite Everything to Index.php -->
            </rules>
        </rewrite>
        <staticContent>
            <!-- <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" /> -->
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        <handlers>
            <!-- Change Location PHP CGI Here (PHP with NTS Version) -->
            <add name="PHP8 CGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <system.web>
        <roleManager enabled="false" />
        <compilation debug="false" />
    </system.web>
</configuration>
